<div>
	<div>
		<div class="chart">
			<canvas baseChart
			[data]="pieChartData"
			[labels]="pieChartLabels"
			[chartType]="pieChartType"
			[options]="pieChartOptions"
			[plugins]="pieChartPlugins"
			[colors]="pieChartColors"
			[legend]="pieChartLegend">
		</canvas>
	</div>
</div>
</div>
<div>
	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" (click)="changeLabels()">Change Labels</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" (click)="addSlice()">Add Slice</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" (click)="removeSlice()">Remove Slice</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" (click)="changeLegendPosition()">Change Legend Position</a>
		</li>
	</ul>
</div>