<div class="btn-toolbar justify-content-center" style="background-color: #e3f2fd;">
	<nav class="navbar navbar-expand-lg">
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" (click)="barChartLegend=!barChartLegend">Hide Legend</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" (click)="randomize()">Update</a>
				</li>
				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dimension
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" (click)="setDimension('Tiempo')">Tiempo</a>
						<a class="dropdown-item" (click)="setDimension('Producto')">Producto</a>
						<a class="dropdown-item" (click)="setDimension('Cliente')">Cliente</a>
						<a class="dropdown-item" (click)="setDimension('Empleado')">Empleado</a>
					</div>
				</li>
				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Mes
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" (click)="setMes('Enero')">Enero</a>
						<a class="dropdown-item" (click)="setMes('Febrero')">Febrero</a>
						<a class="dropdown-item" (click)="setMes('Marzo')">Marzo</a>
						<a class="dropdown-item" (click)="setMes('Abril')">Abril</a>
						<a class="dropdown-item" (click)="setMes('Mayo')">Mayo</a>
						<a class="dropdown-item" (click)="setMes('Junio')">Junio</a>
						<a class="dropdown-item" (click)="setMes('Julio')">Julio</a>
						<a class="dropdown-item" (click)="setMes('Agosto')">Agosto</a>
						<a class="dropdown-item" (click)="setMes('Septiembre')">Septiembre</a>
						<a class="dropdown-item" (click)="setMes('Octubre')">Octubre</a>
						<a class="dropdown-item" (click)="setMes('Noviembre')">Noviembre</a>
						<a class="dropdown-item" (click)="setMes('Diciembre')">Diciembre</a>
					</div>
				</li>
				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Año
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" (click)="setAnio('1996')">1996</a>
						<a class="dropdown-item" (click)="setAnio('1997')">1997</a>
						<a class="dropdown-item" (click)="setAnio('1998')">1998</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>
<div style="background-color: #e3f2fd;">
	<div>
		<div style="display: block">
			<canvas baseChart
			[datasets]="barChartData"
			[labels]="barChartLabels"
			[options]="barChartOptions"
			[plugins]="barChartPlugins"
			[legend]="barChartLegend"
			[chartType]="barChartType">
		</canvas>
	</div>
</div>
</div>